/* Force Quill Editor List Styles */
.ql-editor ul,
.ql-editor ol {
    padding-left: 1.5em !important;
    margin-left: 1.5em !important;
}

.ql-editor ul {
    list-style-type: disc !important;
}

.ql-editor ol {
    list-style-type: decimal !important;
}

.ql-editor ul li,
.ql-editor ol li {
    list-style-position: outside !important;
}

/* Force Heading Styles in Editor */
.ql-editor h1 {
    font-size: 2em !important;
    font-weight: bold !important;
    margin-bottom: 0.5em !important;
    margin-top: 0.5em !important;
    line-height: 1.2 !important;
}

.ql-editor h2 {
    font-size: 1.5em !important;
    font-weight: bold !important;
    margin-bottom: 0.5em !important;
    margin-top: 0.5em !important;
}

.ql-editor h3 {
    font-size: 1.17em !important;
    font-weight: bold !important;
    margin-bottom: 0.5em !important;
    margin-top: 0.5em !important;
}

.ql-editor strong {
    font-weight: bold !important;
}

.ql-editor em {
    font-style: italic !important;
}